body{
	font-family: "微软雅黑","宋体",Arial, Helvetica, sans-serif;
}
.fs-12 {
	font-size: 12px;
}
.fs-14 {
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
}
.fs-19 {
	font-size: 19px;
}
.fs-35{
	font-size: 35px;
}
.fw-b {
	font-weight: bold;
}
.fw-n {
	font-weight: normal;
}
.fc-white {
	color: white;
}
.fc-red{
	color:#FE1C27;
}
.fc-low-red{
	color:#FF6970;
}
.fc-yellow{
	color:#FEDD17;
}
.fc-black {
	color: black;
}
.fc-gray-9 {
	color: #999;
}
.fc-gray-6 {
	color: #666;
}
.fc-gray-4 {
	color: #444;
}
.fc-gray-3 {
	color: #333;
}
.fc-blue{
	color:#1996E6;
}
.ln-20{
	line-height:20px;
}
.justifyfix {
	display: inline-block;
	width: 100%;
	content: ' ';
	visibility: hidden;
	height: 0;
}
li{
	list-style-type:none;
	margin:0px;
}
.clearfix:after{
	content:'.';
	height:0;
	clear: both;
	visibility: hidden;
	display: block;
}
.border-box{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
}
a:link{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
