/**footer**/
.footer-wrap {
	border-top: 4px solid #dbdbdb;
	height: 200px;
}
.footer {
	width: 980px;
	margin: 0 auto;
	padding-top: 30px;
}
.footer-item {
	width: 140px;
	float: left;
}
.footer-item dt {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	margin-bottom: 15px;
}
.footer-item dd {
	color: #999999;
	font-size: 12px;
	margin-bottom: 5px;
}