.list-item {
	border: 1px solid #ddd;
	background: #fff;
	margin-bottom: 10px;
}
.list-item.landscape {
	padding: 15px;
}
.list-item.vertical {
	width: 355px;
	+width:330px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 12px;
	display: inline-block;
}
.list-item .old-price {
	text-decoration: line-through;
	margin-left: 5px;
}
.list-item .detail-wrap {
	position: relative;
}
.list-item .img-wrap {
	height: 220px;
	width: 330px;
	background: #ddd;
}
.list-item.landscape .img-wrap {
	float: left;
	margin-right: 10px;
	background: #ddd;
}
.list-item.vertical .img-wrap {
	margin-bottom: 10px;
}
.list-item.landscape .item-content {
	overflow: hidden;
	zoom: 1;
}
.list-item.landscape .title {
	margin-bottom: 30px;
}
.list-item.landscape .sell-detail {
	display: inline-block;
	height: 48px;
	margin-left: 20px;
	border-left: 1px dotted #ddd;
	padding-left: 10px;
	line-height: 24px;
}
.list-item.vertical .sell-detail {
	position: absolute;
	right: 5px;
	bottom: -25px;
}
.list-item.vertical .detail-wrap {
	margin-bottom: 20px;
	+height:50px;
}
.list-item.landscape .share {
	margin-top: 10px;
	text-align: right;
}
.share .icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background:url("http://www.huadianyuan.com/static/img/home-env.png") no-repeat 0 0 transparent;
	+margin-right: 8px;
	vertical-align: middle;
}
.icon.sina{
	background-position:-242px -176px;
}
.icon.qq{
	background-position:-242px -289px;
}
.icon.renren{
	background-position:-240px -330px;
}
.list-item .button {
	display: inline-block;
	padding: 0 30px;
	color: #fff;
	font-size: 16px;
	height: 38px;
	line-height: 38px;
	margin-right: 30px;
	margin-left: 10px;
}
.list-item .button.buy {
	background: #FE1C27;
}
.list-item .button.look {
	background: #FF6970;
}
.list-item.vertical .button {
	position: absolute;
	right: 5px;
	margin-right: 0px;
	top: 5px;
}